.contact-container {
  margin-top: 20px;
  height: 82vh;
  padding: 0px 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .contact-title {
    font-size: 2rem;
    position: relative;
    width: 100%;
    margin-top: 0px;
  }

  .send-message-container {
    width: 45%;

    .contact-title::before {
      content: "";
      position: absolute;
      height: 3px;
      background-color: #0078ff;
      width: 200px;
      top: 43px;
    }

    .form-class {
      display: flex;
      flex-direction: column;

      .tb-field {
        padding: 10px;
        margin: 5px;
        color: black;
        font-size: 15px;
        border-radius: 5px;
        border: none;
      }
    }

    .submit-btn {
      width: 200px;
      align-items: center;
      padding: 15px;
      margin: 7px;
      border-radius: 19px;
      color: #ffffff;
      background-color: #0852e4;
      font-size: 1rem;
      font-weight: 600;
      border: none;
      cursor: pointer;
    }
  }
  .get-in-touch-container {
    width: 45%;
    position: relative;

    .contact-title::before {
      content: "";
      position: absolute;
      height: 3px;
      background-color: #0078ff;
      width: 100px;
      top: 43px;
    }

    .message-container {
      font-size: 1.25rem;
      font-weight: 300;
    }
    .bold {
      font-weight: bold;
    }
    .icon {
      color: #007fff;
    }
  }
}
