#header {
  padding: 8px;
  margin: 8px;
  background-color: rgb(19 27 59);
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}
.navbar {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.navbar a {
  color: white;
  margin-left: 15px;
}

.nav__firstChild {
  font-size: 30px;
}
.nav__firstChild:hover {
  transition: 0.3s cubic-bezier(1, 0.02, 0.05, 0.99);
}

.hiddenIcon {
  display: none;
}
.navLinks {
  display: flex;
  justify-content: flex-end;
  margin-right: 35px;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  color: #71a7dc;
  transform: scale(1.1);
  transition: 0.3s cubic-bezier(1, 0.02, 0.05, 0.99);
}

.active {
  color: #71a7dc !important;
}
