.publication-container {
  margin-top: 20px;
  height: 82vh;
  padding: 0px 30px;
  position: relative;

  .publication-title {
    font-size: 2rem;
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 0px;
  }

  .read__more {
    padding: 12px;
    position: absolute;
    left: 80%;
    border: none;
    text-shadow: none;
    background-color: #137ee8;
    color: #ffffff;
    font-size: 0.95rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    z-index: 1;
  }
  .read__more:hover {
    transition: all 0.3s cubic-bezier(1, 0.02, 0.05, 0.99);
    transform: scale(1.2);
  }

  .publication-title::before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 150px;
    bottom: -12px;
  }
  .sideline-project-container {
    display: flex;
    flex-wrap: wrap;

    .sideline-project {
      box-shadow: 0px 2px 5px 1px #306eb8;
      padding: 10px;
      width: 21%;
      margin: 10px;
      flex-direction: column;
      text-align: center;
      display: flex;
      text-decoration: none;
      color: #000000;
      justify-content: flex-end;

      img {
        width: 200px;
        align-self: center;
        // overflow: hidden;
      }
      img:hover {
        transform: scale(1.2);
        // transition: transform .5s ease;
        transition: transform 0.5s, visibility 0.5s ease-in-out;
        // transition: 3s ease-in-out;
        border-radius: 5px;
      }
    }
  }
}
